# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Installer files
*.run

# Binaries files
CApp

# Makefile files
Makefile
depcomp
install-sh
missing
configure
aclocal.m4
autom4te.cache
stamp-h1
config.h
config.status
.depend
.deps
.dirstamp
*.in

# Misc files
*.log
*.swp

